dash==1.16.1
dash-bootstrap-components==0.11.3
dash-core-components==1.12.1
dash-html-components==1.1.1
dash-renderer==1.8.1
dash-table==4.10.1
folium==0.12.0
geopandas==0.8.1
h5py==3.2.1
jupyter==1.0.0
Keras==2.4.3
keras-bert==0.86.0
keras-embed-sim==0.8.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.46.0
keras-transformer==0.38.0
librosa==0.8.0
matplotlib==3.4.2
numpy==1.20.3
pandas==1.1.2
pandas-datareader==0.9.0
pydantic==1.6.1
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.6.3
tensorboard==2.4.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.1
tensorflow-addons==0.11.2
tensorflow-estimator==2.4.0
typing==3.6.6
typing-extensions==3.7.4.3
